{% extends 'base.htm' %}
{% block content %}
<section class="Contain SubPage clearfix">
  <div class="LeftBar">
    <div class="CulumnName">
      <h2>应用领域</h2>
      <p>Product categories</p>
    </div>
    <div class="MenuList">
      <ul>
          


              <li rel='38'>
                  <span><a href="list_38-1.aspx.htm" tppabs="http://www.etsc-tech.com/cn/Products/list_38.aspx">激光器</a></span>

                  <dl class="sub">
                      
                          <dd><a href="list_285.aspx.htm" tppabs="http://www.etsc-tech.com/cn/products/list_285.aspx" rel='285'>光纤激光器</a></dd>
                      
                          <dd><a href="list_155.aspx.htm" tppabs="http://www.etsc-tech.com/cn/products/list_155.aspx" rel='155'>固体激光器</a></dd>
                      
                          <dd><a href="list_53.aspx.htm" tppabs="http://www.etsc-tech.com/cn/products/list_53.aspx" rel='53'>半导体激光器</a></dd>
                      
                          <dd><a href="list_161.aspx.htm" tppabs="http://www.etsc-tech.com/cn/products/list_161.aspx" rel='161'>气体激光器</a></dd>
                      
                  </dl>

              </li>
          


              <li rel='39'>
                  <span><a href="list_39.aspx.htm" tppabs="http://www.etsc-tech.com/cn/Products/list_39.aspx">单光子计数</a></span>

                  <dl class="sub">
                      
                          <dd><a href="list_245.aspx.htm" tppabs="http://www.etsc-tech.com/cn/products/list_245.aspx" rel='245'>PicoQuant</a></dd>
                      
                          <dd><a href="list_171.aspx.htm" tppabs="http://www.etsc-tech.com/cn/products/list_171.aspx" rel='171'>MPD</a></dd>
                      
                          <dd><a href="list_271.aspx.htm" tppabs="http://www.etsc-tech.com/cn/products/list_271.aspx" rel='271'>Quantum Opus</a></dd>
                      
                          <dd><a href="list_311.aspx.htm" tppabs="http://www.etsc-tech.com/cn/products/list_311.aspx" rel='311'>Photon Force</a></dd>
                      
                  </dl>

              </li>
          


              <li rel='223'>
                  <span><a href="list_223.aspx.htm" tppabs="http://www.etsc-tech.com/cn/Products/list_223.aspx">功率测量</a></span>

                  <dl class="sub">
                      
                          <dd><a href="list_238.aspx.htm" tppabs="http://www.etsc-tech.com/cn/products/list_238.aspx" rel='238'>Coherent</a></dd>
                      
                          <dd><a href="list_229.aspx.htm" tppabs="http://www.etsc-tech.com/cn/products/list_229.aspx" rel='229'>Primes</a></dd>
                      
                          <dd><a href="list_307.aspx.htm" tppabs="http://www.etsc-tech.com/cn/products/list_307.aspx" rel='307'>PD/APD</a></dd>
                      
                  </dl>

              </li>
          


              <li rel='43'>
                  <span><a href="list_43.aspx.htm" tppabs="http://www.etsc-tech.com/cn/Products/list_43.aspx">显微及光谱仪器</a></span>

                  <dl class="sub">
                      
                          <dd><a href="list_287.aspx.htm" tppabs="http://www.etsc-tech.com/cn/products/list_287.aspx" rel='287'>PicoQuant</a></dd>
                      
                          <dd><a href="list_165.aspx.htm" tppabs="http://www.etsc-tech.com/cn/products/list_165.aspx" rel='165'>Wasatch Photonics</a></dd>
                      
                          <dd><a href="list_293.aspx.htm" tppabs="http://www.etsc-tech.com/cn/products/list_293.aspx" rel='293'>Chroma</a></dd>
                      
                  </dl>

              </li>
          


              <li rel='46'>
                  <span><a href="list_46.aspx.htm" tppabs="http://www.etsc-tech.com/cn/Products/list_46.aspx">光机组件</a></span>

                  <dl class="sub">
                      
                          <dd><a href="list_167.aspx.htm" tppabs="http://www.etsc-tech.com/cn/products/list_167.aspx" rel='167'>Sigma Koki</a></dd>
                      
                          <dd><a href="list_177.aspx.htm" tppabs="http://www.etsc-tech.com/cn/products/list_177.aspx" rel='177'>Elliot Scientific</a></dd>
                      
                          <dd><a href="list_187.aspx.htm" tppabs="http://www.etsc-tech.com/cn/products/list_187.aspx" rel='187'>Siskiyou</a></dd>
                      
                  </dl>

              </li>
          


              <li rel='219'>
                  <span><a href="list_219.aspx.htm" tppabs="http://www.etsc-tech.com/cn/Products/list_219.aspx">测控设备</a></span>

                  <dl class="sub">
                      
                          <dd><a href="list_261.aspx.htm" tppabs="http://www.etsc-tech.com/cn/products/list_261.aspx" rel='261'>LUNA</a></dd>
                      
                          <dd><a href="list_221.aspx.htm" tppabs="http://www.etsc-tech.com/cn/products/list_221.aspx" rel='221'>Semicon</a></dd>
                      
                  </dl>

              </li>
          


              <li rel='263'>
                  <span><a href="list_263.aspx.htm" tppabs="http://www.etsc-tech.com/cn/Products/list_263.aspx">太赫兹THz</a></span>

                  <dl class="sub">
                      
                          <dd><a href="list_275.aspx.htm" tppabs="http://www.etsc-tech.com/cn/products/list_275.aspx" rel='275'>NEL</a></dd>
                      
                          <dd><a href="list_277.aspx.htm" tppabs="http://www.etsc-tech.com/cn/products/list_277.aspx" rel='277'>Terasense</a></dd>
                      
                  </dl>

              </li>
          
      </ul>
    </div>
  </div>
  <!--/左侧 end-->
    <div class="RightBar">
            <div class="Current">
                <h3>{{applicaton.name}}</h3>
                <div class="place">
                    您现在的位置：<a href="/" tppabs="http://www.etsc-tech.com/index.aspx">首页</a>- <a href="list_38.aspx.htm" >产品分类</a>- <a href="list_38-2.aspx.htm" >激光器</a>- <span>光纤激光器</span>
                </div>
            </div>

            <div class="Bigimg"><img src="{{MEDIA_URL}}/{{application.image}}" ></div>
            <div class="inforight">
                <h4 class="tit">{{application.name}}</h4>
                <p>{{application.describe}}</p>
            </div>
            <div class="clear"></div>

         
           
           <div class="titsubs"><span>详细介绍</span></div>
            <article class="SinglePage">
                <!--content s-->
                {{application.context|safe}}
                  <!--<ul>	<li>		<span style="line-height:1.5;">脉冲宽度小家居安静安静啊家居安静安静啊假按揭啊就安静安静安静安静安静安静安静啊就安静安静安静安静安静安静啊于800 fs</span> 	</li>	<li>		<span style="line-height:1.5;">100 kHz至1 MHz的可调重复频率</span> 	</li>	<li>		<span style="line-height:1.5;">良好的光束质量M2 &lt;1.3</span> 	</li>	<li>		<span style="line-height:1.5;">峰值功率高达200兆瓦</span> 	</li>	<li>		<span style="line-height:1.5;">快速预热</span> 	</li>	<li>		<span style="line-height:1.5;">不停机情况下变换频率</span> 	</li></ul><p>	<br /></p>-->
                <!--content end-->
                <div class="clear"></div>
            </article>
            
           



        </div>
    
  <!--/右侧 end--> 
</section>
{% endblock %}
