{% extends 'base.htm' %}
{% block content %}
    <section class="Contain">
        <h2 class="HomeTit"><a href="/static/Products/list_38-1.aspx.htm"  class="more">更多</a>产品分类</h2>
        <div class="HomePro">
            <ul>

                <li>
                    {% for productMainCate in productMainCate_list  %}
                        <dl>
                            <dd class="item">
                                <a href="/productMainCate/{{productMainCate.id}}" >
                                    <div class="infotxt">
                                        <dl class="box">
                                            <dt>{{productMainCate.name}}</dt>
                                            <dd>{{productMainCate.describe}}</dd>
                                        </dl>
                                    </div>
                                    <p class="tit">{{productMainCate.name}}</p>
                                    <div class="img"><img src="{{MEDIA_URL}}/{{productMainCate.image}}" ></div>
                                </a>
                            </dd>
                        </dl>
                    {% endfor %}

                </li>
                <li>
                        <dl>
                            <dd class="item">
                                <a href="static/products/list_263-1.aspx.htm" >
                                    <div class="infotxt">
                                        <dl class="box">
                                            <dt>太赫兹THz</dt>
                                            <dd></dd>
                                        </dl>
                                    </div>
                                    <p class="tit">太赫兹THz</p>
                                    <div class="img"><img src="/static/uploadfiles/2017/08/20170816110258258.png" ></div>
                                </a>
                            </dd>
                        </dl>
                </li>

            </ul>

                   <a class="prev"></a> <a class="next"></a>

                   <a class="prev"></a> <a class="next"></a>

                   <a class="prev"></a> <a class="next"></a>

                   <a class="prev"></a> <a class="next"></a>

                   <a class="prev"></a> <a class="next"></a>

                   <a class="prev"></a> <a class="next"></a>

                   <a class="prev"></a> <a class="next"></a>

        </div>
        <script type="text/javascript">jQuery(".HomePro").slide({ mainCell:"ul",autoPlay:false,effect:"leftLoop", vis:1, scroll:1, autoPage:true, pnLoop:true });</script>
        <!--/产品分类 end-->

        <h2 class="HomeTit"><a href="/static/Applications/list_27.aspx.htm"  class="more">更多</a>应用领域</h2>
        <div class="HomeArea">
            <ul>
                {% for applicationCate in applicationCate_list %}
                    <li>
                        <a href="/applicationCate/{{applicationCate.id}}" >
                            <div class="infotxt">
                                <dl class="box">
                                    <dd>{{applicationCate.describe}}</dd>
                                </dl>
                            </div>
                            <div class="img"><img src="{{MEDIA_URL}}/{{applicationCate.image}}" ></div>
                            <div class="tit">{{applicationCate.name}}</div>
                        </a>
                    </li>
                {% endfor %}





            </ul>
            <a class="prev"></a> <a class="next"></a>
        </div>
        <script type="text/javascript">jQuery(".HomeArea").slide({ mainCell:"ul",autoPlay:false,effect:"leftLoop", vis:4, scroll:1, autoPage:true, pnLoop:true });</script>
        <!--/应用领域 end-->
    </section>
    <section class="HomeBrand">
        <div class="Contain">
            <h2 class="HomeTit"><a href="static/Partners/index_14.aspx.htm"  class="more">更多</a>代理品牌</h2>
            <div class="scroll">
                <ul>
                    {% for brand in brand_list %}
                        <li>
                            <a  target="_blank" href="{{brand.url}}" >
                                <div class="Scale-img"><img src="{{MEDIA_URL}}/{{brand.logo}}"  alt=""></div>
                            </a>
                        </li>
                    {% endfor %}



                </ul><a class="prev"></a> <a class="next"></a>
            </div>
        </div>
    </section>
    <script type="text/javascript">jQuery(".HomeBrand").slide({ mainCell:"ul",autoPlay:false,effect:"leftLoop", vis:6, scroll:1, autoPage:true, pnLoop:true });</script>
    <!--/代理品牌 end-->
{% endblock %}