{% extends 'base.htm' %}
{% block content %}
    <section class="Contain">
        <h2 class="HomeTit"><a href="/productMainCate/{{fistProductMainCate.id}}"  class="more">更多</a>产品分类</h2>
        <div class="HomePro">
            <ul>

                <li>
                    {% for productMainCate_1 in productMainCate_list_1  %}
                        <dl>
                            <dd class="item">
                                <a href="/productMainCate_1/{{productMainCate_1.id}}" >
                                    <div class="infotxt">
                                        <dl class="box">
                                            <dt>{{productMainCate_1.name}}</dt>
                                            <dd>{{productMainCate_1.describe}}</dd>
                                        </dl>
                                    </div>
                                    <p class="tit">{{productMainCate_1.name}}</p>
                                    <div class="img"><img src="{{MEDIA_URL}}{{productMainCate_1.image}}" ></div>
                                </a>
                            </dd>
                        </dl>
                    {% endfor %}

                </li>
                <li>
                        {% for productMainCate_2 in productMainCate_list_2  %}
                        <dl>
                            <dd class="item">
                                <a href="/productMainCate_2/{{productMainCate_2.id}}" >
                                    <div class="infotxt">
                                        <dl class="box">
                                            <dt>{{productMainCate_2.name}}</dt>
                                            <dd>{{productMainCate_2.describe}}</dd>
                                        </dl>
                                    </div>
                                    <p class="tit">{{productMainCate_2.name}}</p>
                                    <div class="img"><img src="{{MEDIA_URL}}{{productMainCate_2.image}}" ></div>
                                </a>
                            </dd>
                        </dl>
                        {% endfor %}




                        <!-- <dl>
                            <dd class="item">
                                <a href="static/products/list_263-1.aspx.htm" >
                                    <div class="infotxt">
                                        <dl class="box">
                                            <dt>太赫兹THz</dt>
                                            <dd></dd>
                                        </dl>
                                    </div>
                                    <p class="tit">太赫兹THz</p>
                                    <div class="img"><img src="/static/uploadfiles/2017/08/20170816110258258.png" ></div>
                                </a>
                            </dd>
                        </dl> -->
                </li>

            </ul>
                   {% for productMainCate in productMainCate_list  %}
                   <a class="prev"></a> <a class="next"></a>
                   {% endfor %}

                   <!-- <a class="prev"></a> <a class="next"></a>

                   <a class="prev"></a> <a class="next"></a>

                   <a class="prev"></a> <a class="next"></a>

                   <a class="prev"></a> <a class="next"></a>

                   <a class="prev"></a> <a class="next"></a>

                   <a class="prev"></a> <a class="next"></a> -->

        </div>
        <script type="text/javascript">jQuery(".HomePro").slide({ mainCell:"ul",autoPlay:false,effect:"leftLoop", vis:1, scroll:1, autoPage:true, pnLoop:true });</script>
        <!--/产品分类 end-->

        <h2 class="HomeTit"><a href="/application/{{fistApplication.id}}"  class="more">更多</a>应用领域</h2>
        <div class="HomeArea">
            <ul>
                {% for application in application_list %}
                    <li>
                        <a href="/application/{{application.id}}" >
                            <div class="infotxt">
                                <dl class="box">
                                    <dd>{{application.describe}}</dd>
                                </dl>
                            </div>
                            <div class="img"><img src="{{MEDIA_URL}}{{application.image}}" ></div>
                            <div class="tit">{{application.name}}</div>
                        </a>
                    </li>
                {% endfor %}





            </ul>
            <a class="prev"></a> <a class="next"></a>
        </div>
        <script type="text/javascript">jQuery(".HomeArea").slide({ mainCell:"ul",autoPlay:false,effect:"leftLoop", vis:4, scroll:1, autoPage:true, pnLoop:true });</script>
        <!--/应用领域 end-->
    </section>
    <section class="HomeBrand">
        <div class="Contain">
            <h2 class="HomeTit"><a href="/brands"  class="more">更多</a>代理品牌</h2>
            <div class="scroll">
                <ul>
                    {% for brand in brand_list %}
                        <li>
                            <a  target="_blank" href="{{brand.url}}" >
                                <div class="Scale-img"><img src="{{MEDIA_URL}}{{brand.logo}}"  alt=""></div>
                            </a>
                        </li>
                    {% endfor %}



                </ul><a class="prev"></a> <a class="next"></a>
            </div>
        </div>
    </section>
    <script type="text/javascript">jQuery(".HomeBrand").slide({ mainCell:"ul",autoPlay:false,effect:"leftLoop", vis:6, scroll:1, autoPage:true, pnLoop:true });</script>
    <!--/代理品牌 end-->
{% endblock %}