{% extends 'base.htm' %}
{% block content %}
    <section class="Contain SubPage clearfix">
        <div class="LeftBar">
            <div class="CulumnName">
                <h2>公司新闻</h2>
                <p>Company news</p>
            </div>
            <div class="MenuList">
                <ul>
                        <li rel='19' class="onli"><span><a href="/news">新闻资讯</a></span></li>
                </ul>
            </div>
        </div>
        <!--/左侧 end-->

        <div class="RightBar">
            <div class="Current">
                <h3>新闻资讯</h3>
                <div class="place">
                    您现在的位置：<a href="/">首页</a>- <a href="/news">公司新闻</a>- <span>新闻资讯</span>
                </div>
            </div>

            <div class="NewsList">
                <ul>
                    {% for news in news_list.object_list %}
                        <li>
                            <div class="img Scale-img"><a href="{{news.id}}"><img src="{{MEDIA_URL}}/{{news.image}}"></a></div>
                            <div class="tit"><a href="{{news.id}}">{{news.title}}</a></div>
                            <p class="p">	&nbsp;&nbsp;&nbsp;&nbsp;{{news.describe}}</p>
                            <p class="other"><span class="date">{{news.pub_date}}</span></p>
                        </li>
                    {% endfor %}

                </ul>
            </div>

            <!--Pages-->
            <div class='Pages'>
                <span class='p_page'>

                    {% if news_list.has_previous %}
                        <a href="?{{ news_list.previous_page_number.querystring }}" class='a_prev'>上一页</a>
                        {% endif %}
                        <em class="num">                            
                            {% for page in news_list.pages %}
                            {% if page %}
                            {% ifequal page news_list.number %}
                            <a href="?{{ page.querystring }}" class='a_cur'>{{page}}</a>
                            {% else %}
                            <a href="?{{ page.querystring }}" class='a_num'>{{page}}</a>
                            {% endifequal %}
                            {% else %}
                            <a class='a_num'>...</a>
                            {% endif %}
                            {% endfor %}

                            <!--<a href="" class='a_num'>4</a>-->
                        </em>
                        {% if news_list.has_next %}
                        <a href="?{{ news_list.next_page_number.querystring }}" class='a_next'>下一页</a>
                        {% endif %}


                    
                        <!--<a href='' class='a_first'>首页</a>-->
                        <!--<a href='' class='a_prev'>上一页</a>-->
                        <!--<em class="num">-->
                            <!--<a href="" class='a_cur'>2</a>-->
                            <!--<a href="" class='a_num'>2</a>-->
                        <!--</em>-->
                        <!--<a href="" class='a_next'>下一页</a>-->
                        <!--<a href="" class='a_end'>尾页</a>-->
                    <script type='text/javascript'> function redirectPage_(inputID){      var inputValue = document.getElementById(inputID).value;     if(!(/^\d+$/).test(inputValue)){ document.getElementById(inputID).value = '1'; return; }      if(inputValue <= 0) { inputValue = 1; }      if(inputValue > 2) { inputValue = 2; }      location.href = 'list_19.aspx-page={$wtl_pager}.htm'/*tpa=http://www.etsc-tech.com/cn/news/list_19.aspx?page={$wtl_pager}*/.replace('{$wtl_pager}', inputValue); } </script> 
                </span>
            </div>
            <!--Pages-->

        </div>
        <!--/右侧 end-->
    </section>
{% endblock %}
