{% extends 'base.htm' %}
{% block content %}
<section class="Contain SubPage clearfix">
  <div class="LeftBar">
    <div class="CulumnName">
      <h2>产品分类</h2>
      <p>Product categories</p>
    </div>
    <div class="MenuList">
      <ul>

          {% for productMainCate in productMainCate_list %}
              <li rel='38' {% ifequal productMainCate.id category_id  %}class="onli"{% endifequal %}>
                  <span><a href="/productMainCate/{{productMainCate.id}}">{{productMainCate.name}}</a></span>

                  <dl class="sub">
                      {% for productSecondCate in productSecondCate_list %}
                      {% ifequal productSecondCate.productMainCate_id productMainCate.id %}
                          <dd><a href="/productMainCate/{{productMainCate.id}}/{{productSecondCate.id}}" rel='285'>{{productSecondCate.name}}</a></dd>
                      {% endifequal %}
                      {% endfor %}
                  </dl>

              </li>
          {% endfor %}

      </ul>
    </div>
  </div>
  <!--/左侧 end-->
  
  <div class="RightBar">
    <div class="Current">
      <h3>{{selectProductMainCate.name}}</h3>
      <div class="place">您现在的位置：<a href="/">首页</a>- <a href="">产品分类</a>- <span>{{selectProductMainCate.name}}</span></div>
    </div>
    
    <div class="ProList pro2">
      <ul>

          {% for productSecondCate in productSecondCate_list %}
              <li>
                   <div class="logo">
                  <a href="{{productSecondCate.id}}">
                       <img src="{{MEDIA_URL}}/{{productSecondCate.logo}}"></a></div>
                  <div class="img Scale-img"><a href="{{productSecondCate.id}}"><img src="{{MEDIA_URL}}/{{productSecondCate.image}}"></a></div>
                  <p>{{productSecondCate.describe}}</p>
                  <p><a href="{{productSecondCate.id}}" class="detail">查看详情</a></p>
              </li>
          {% endfor %}
          
</ul>
    </div>
    
    <!--Pages-->
        <div class='Pages'>
        <span class='p_page'>
            
                <!-- <a href='javascript:void(0);' class='a_first'>首页</a> -->
                {% if article_list.has_previous %}
                <a href='?{{ article_list.previous_page_number.querystring }}' class='a_prev'>上一页</a>
                {% endif %}
                
                <em class="num">
                    {% for page in article_list.pages %}
                    {% if page %}
                    {% ifequal page article_list.number %}
                    <a href="?{{ page.querystring }}" class='a_cur'>{{page}}</a>
                    {% else %}
                    <a href="?{{ page.querystring }}" class='a_num'>{{page}}</a>
                    {% endifequal %}
                    {% else %}
                    ...
                    {% endif %}
                    {% endfor %}
                </em>
                {% if article_list.has_next %}
                <a href='javascript:void(0);' class='a_next'>下一页</a>
                {% endif %}
                <!-- <a href='javascript:void(0);' class='a_end'>尾页</a> -->
            <script type='text/javascript'> function redirectPage_(inputID){      var inputValue = document.getElementById(inputID).value;     if(!(/^\d+$/).test(inputValue)){ document.getElementById(inputID).value = '1'; return; }      if(inputValue <= 0) { inputValue = 1; }      if(inputValue > 1) { inputValue = 1; }      location.href = 'list_39.aspx-page={$wtl_pager}.htm'/*tpa=http://www.etsc-tech.com/cn/Products/list_39.aspx?page={$wtl_pager}*/.replace('{$wtl_pager}', inputValue); } </script> 
        </span>
        </div> 
    <!--Pages-->
    
  </div>
  <!--/右侧 end--> 
</section>
{% endblock %}
